
.data_container {
	float: left;
}

.data_plot {
	float: left;

	background: #f5f5f5;
	border: 1px solid #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.4);
}

.ui-resizable-helper {
	border: 2px dotted #00F;
}
